# Files ignored by git

# Compiled Object files
*.slo
*.lo
*.o
*.a
*.obj


# Executables
*.exe
*.out
*.app

build/

!resources/ # Since we ignore .obj files, we need to unignore those in the resources directory (3D objects)